@{
    ViewBag.Title = "Map";
    Layout = "~/Areas/DashBoard/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2" style="display:none">
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="header-title mb-3">Ankara Şaşmaz</h4>
            <div id="gmaps-basic" class="gmaps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.107573378432!2d32.71148451582945!3d39.93898337942364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d337e34964f2ab%3A0x14765ccbef707753!2sOlgun+LPG+-+Landirenzo+%26+Emmegas+Otogaz+Sistemleri+%2F+%C5%9Ea%C5%9Fmaz!5e0!3m2!1str!2str!4v1549462049673" width="744" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="header-title mb-3">Ankara Gimat</h4>
            <div id="gmaps-basic" class="gmaps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.501413515053!2d32.76133431582969!3d39.95254087942173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3453473784ff1%3A0xbd0e811ee4efc018!2zT2xndW4gR0FSQUdFIC0gQXJhw6cgRXN0ZXRpayAmIEJveWFzxLF6IEfDtsOnw7xrIE9uYXLEsW3EsQ!5e0!3m2!1sen!2str!4v1549462713598" width="744" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row" style="display:none">
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="header-title mb-3">İstanbul</h4>
            <div id="gmaps-basic" class="gmaps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.261047843577!2d29.188928015852547!3d40.91002177931097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac488d40cb01d%3A0xf3416a50d9008ab9!2sOlgun+Oto!5e0!3m2!1sen!2str!4v1549462765005" width="744" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="header-title mb-3">İzmir</h4>
            <div id="gmaps-basic" class="gmaps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.460149771952!2d27.228678215794506!3d38.43083907964548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b963236a49d36f%3A0x5efd5d8ed9e2df56!2sEgemenlik+Mahallesi%2C+6133%2F1.+Sk.%2C+35070+Bornova%2F%C4%B0zmir!5e0!3m2!1sen!2str!4v1549462816707" width="744" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row" style="display:none">
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="header-title mb-3">Kayseri</h4>
            <div id="gmaps-basic" class="gmaps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3112.4449768779277!2d35.4411332158012!3d38.73054997959669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152b11d7b8de9c13%3A0x4f7838b4b59cd060!2sOsman+Kavuncu+Mahallesi+Muhtarligi!5e0!3m2!1sen!2str!4v1549462847933" width="744" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="header-title mb-3">Adana</h4>
            <div id="gmaps-basic" class="gmaps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3186.7286413591637!2d35.32176331576199!3d36.99240997990939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15288f42b2ae3357%3A0x2e652d923f4359a8!2zR2l6ZXJsZXIgxLDFnyBIYW7EsQ!5e0!3m2!1sen!2str!4v1549462880156" width="744" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_PartialWait")