<ul class="list-unstyled topnav-menu topnav-menu-left m-0">
    <li>
        <button class="button-menu-mobile waves-effect waves-light">
            <i class="fe-menu"></i>
        </button>
    </li>
    <li class="dropdown d-none d-lg-block">
        <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            Hızlı Ulaşım
            <i class="mdi mdi-chevron-down"></i>
        </a>
        <div class="dropdown-menu">
            <a href="javascript:void(0);" class="dropdown-item">
                <i class="fe-briefcase mr-1"></i>
                <span>Projeler</span>
            </a>
            <a href="javascript:void(0);" class="dropdown-item">
                <i class="fe-bar-chart-line- mr-1"></i>
                <span>Kontrol Paneli</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item">
                <i class="fe-headphones mr-1"></i>
                <span>Yardım & Destek</span>
            </a>
        </div>
    </li>
    <li class="dropdown dropdown-mega d-none d-lg-block">
        <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            Menü
            <i class="mdi mdi-chevron-down"></i>
        </a>
        <div class="dropdown-menu dropdown-megamenu">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-1">
                            <h5 class="text-dark mt-0">DashBoard</h5>
                            <ul class="list-unstyled megamenu-list">
                                <li>
                                    <a href="/DashBoard/DashBoard/Index">Görüntüle</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <h5 class="text-dark mt-0">Müşteriler</h5>
                            <ul class="list-unstyled megamenu-list">
                                <li>
                                    <a href="/DashBoard/Customer/Company">Şirketler</a>
                                </li>
                                <li>
                                    <a href="/DashBoard/Customer/Customer">Portföy</a>
                                </li>
                                <li>
                                    <a href="/DashBoard/Customer/Meet">Görüşmeler</a>
                                </li>
                                <li>
                                    <a href="/DashBoard/Customer/Project">Projeler</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <h5 class="text-dark mt-0">Ürünler</h5>
                            <ul class="list-unstyled megamenu-list">
                                <li>
                                    <a href="/DashBoard/Product/Product">Görüntüle</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <h5 class="text-dark mt-0">Giderler</h5>
                            <ul class="list-unstyled megamenu-list">
                                <li>
                                    <a href="/DashBoard/Expense/Personnel">Personel Giderleri</a>
                                </li>
                                <li>
                                    <a href="/DashBoard/Expense/Machine">Makina Giderleri</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <h5 class="text-dark mt-0">Görev Tablosu</h5>
                            <ul class="list-unstyled megamenu-list">
                                <li>
                                    <a href="/DashBoard/DashBoard/Task">Görüntüle</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <h5 class="text-dark mt-0">İnsan Kaynakları</h5>
                            <ul class="list-unstyled megamenu-list">
                                <li>
                                    <a href="/DashBoard/HR/HR">Görüntüle</a>
                                </li>
                            </ul>
                        </div>
                        @*<div class="col-md-1">
                            <h5 class="text-dark mt-0">Ajanda</h5>
                            <ul class="list-unstyled megamenu-list">
                                <li>
                                    <a href="/DashBoard/DashBoard/Agenda">Görüntüle</a>
                                </li>
                            </ul>
                        </div>*@
                        <div class="col-md-1">
                            <h5 class="text-dark mt-0">Harita</h5>
                            <ul class="list-unstyled megamenu-list">
                                <li>
                                    <a href="/DashBoard/DashBoard/Map">Görüntüle</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>