<div class="logo-box">
    <a href="#" class="logo text-center">
        <span class="logo-lg">
            <img src="~/Areas/DashBoard/Content/img/Default/logo-light.png" height="18" id="" />
        </span>
        <span class="logo-sm">
            <img src="~/Areas/DashBoard/Content/img/Default/logo-sm.gif" height="24" />
        </span>
    </a>
</div>