<div class="slimscroll-menu">
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu">
            <li class="menu-title">Navİgasyon</li>
            <li>
                <a href="/DashBoard/DashBoard/Index">
                    <i class="fe-airplay"></i>
                    <span> DashBoard </span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="fe-users"></i>
                    <span> Müşteriler </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li>
                        <a href="/DashBoard/Customer/Company">Şirketler</a>
                    </li>
                    <li>
                        <a href="/DashBoard/Customer/Customer">Portföy</a>
                    </li>
                    <li>
                        <a href="/DashBoard/Customer/Meet">Görüşmeler</a>
                    </li>
                    <li>
                        <a href="/DashBoard/Customer/Project">Projeler</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/DashBoard/Product/Product">
                    <i class="fe-shopping-cart"></i>
                    <span> Ürünler </span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="fe-truck"></i>
                    <span> Giderler </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li>
                        <a href="/DashBoard/Expense/Personnel">Personel Giderleri</a>
                    </li>
                    <li>
                        <a href="/DashBoard/Expense/Machine">Makina Giderleri</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/DashBoard/DashBoard/Task">
                    <i class="fe-sidebar"></i>
                    <span> Görev Tablosu </span>
                </a>
            </li>
            <li>
                <a href="/DashBoard/HR/HR">
                    <i class="fe-sidebar"></i>
                    <span> İnsan Kaynakları </span>
                </a>
            </li>
            @*<li>
                <a href="/DashBoard/DashBoard/Agenda">
                    <i class="fe-file-text"></i>
                    <span> Ajanda </span>
                </a>
            </li>*@
            <li>
                <a href="/DashBoard/DashBoard/Map">
                    <i class="fe-map"></i>
                    <span> Harita </span>
                </a>
            </li>
        </ul>
    </div>
</div>