<header class="masthead" id="header">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase" style="color:aliceblue"><b>Olgun Makİna</b></div><br />
            <div class="intro-lead-in" style="color:gold"><b>Zirveyi <br />Birlikte Paylaşalım</b></div>
        </div>
    </div>
</header>