<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a href="#header" style="color:cornsilk; text-decoration: none">
            <img src="~/Content/img/logos/logo-sm.gif" width="30" height="30" /> OLGUN MAKİNA
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Servİs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Ürünler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#team">Çalışanlarımız</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#reference">Referanslarımız</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">İletİşİm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="DashBoard/LogX/LogIn"><b>GİRİŞ</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>